---
layout: default
---

<!-- Page Header-->
<header
  class="masthead"
  style="
    background-image: url('/assets/img/DTC_header.jpg');
  "
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>Drop the Student Disciplinary Charges!</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-9">
        <ul class="nav nav-pills" id="dtcTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="campaign-tab" data-bs-toggle="tab" data-bs-target="#campaign-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Campaign</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="supporters-tab" data-bs-toggle="tab" data-bs-target="#supporters-tab-pane" type="button" role="tab" aria-controls="supporters-tab-pane" aria-selected="false">Supporters</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tweets-tab" data-bs-toggle="tab" data-bs-target="#tweets-tab-pane" type="button" role="tab" aria-controls="tweets-tab-pane" aria-selected="false">Tweets</button>
          </li>
        </ul>
        <div class="tab-content" id="dtcTabContent">
          <div class="tab-pane fade show active" id="campaign-tab-pane" role="tabpanel" aria-labelledby="campaign-tab" tabindex="0">
          <p>
            <strong
              >While israel continues its depraved and barbaric 
              campaign of mass bombing, murder, and forced 
              starvation of Palestinians, the University of 
              Michigan Board of Regents continues to prop up its 
              indefensible investments in that genocide through 
              repression.</strong>
             The Regents have now brought disciplinary charges 
            against undergraduate and graduate students for alleged 
            participation in protests that took place in 2024—ten to 
            fourteen months ago—targeting higher-profile students, 
            including those who recently defeated criminal charges 
            pursued by MI AG Dana Nessel. The Regents failed in their 
            attempt to weaponize the criminal-legal system to suppress 
            the popular movement to divest from israel, and are now 
            using the university's Office of Student Conflict Resolution 
            (OSCR) to threaten individual students' futures and 
            destroy campus free speech.
          </p>
          <p>
            <strong>
              The Regents are transforming OSCR from a unit dedicated 
              to restorative justice into a tool for authoritarian 
              repression.</strong>
            Vice President of Student Life Martino Harmon has twice 
            overruled "not-guilty" verdicts to sanction students over 
            the past year, resulting in a 100% "conviction rate" for 
            student protestors. Last summer, the Regents broke their own 
            rules for amending the student code of conduct, to make it so 
            that guilty verdicts can now be imposed directly. They 
            recently hired disgraced student disciplinary officer Donovan 
            Golich, who was recorded <a href="https://youtu.be/qqm0FtrTWzY?feature=shared">threatening and swearing</a> 
            at accused fraternity members and acted as complainant to <a href="https://archive.is/h4aNM#selection-4437.261-4437.272revoke">discipline pro-Palestine student protestors</a> 
            in 2024, to act as their "enforcer."
          </p>
          <p>
            <strong>
              The Regents have effectively ended due process, allowing 
              them to sanction any student who stands against them.</strong>
            This is why we must turn to you, our community, to empower 
            those undergoing the repression from UM administration.
            You can directly support by donating to the community legal
            fund, which will be used to run the vital defense campaign
            against these charges. You can also support by using the 
            email zap below to tell the Regents, Interim President Domenico 
            Grasso, and OSCR Director Erik Wessel to drop these politicized 
            charges, cease and desist their vindictive crusade against the 
            anti-genocide movement, and respect students' political speech.
            Lastly, follow us on social media, and we will provide updates 
            on events for us to talk together and strategize further.
          </p>
          <div>
            <a class="btn btn-primary rounded" href="https://actionnetwork.org/letters/tell-the-university-of-michigan-drop-student-disciplinary-charges" role="button" style="--bs-btn-padding-y: 1.5rem; --bs-btn-padding-x: 4.3rem; --bs-btn-font-size: 1.0rem; margin-top: 1rem;">Send an Email to Drop the Charges</a>
            <a class="btn btn-primary rounded" href="https://chuffed.org/project/um-palestine-legalfund" role="button" style="--bs-btn-padding-y: 1.5rem; --bs-btn-padding-x: 6.4rem; --bs-btn-font-size: 1.0rem; margin-top: 1rem;">Donate To Our Legal Fund</a>
          </div>
        </div>
        <div class="tab-pane fade" id="tweets-tab-pane" role="tabpanel" aria-labelledby="tweets-tab" tabindex="0">
          <p>
            <strong
              >Send a Tweet to call out the complainant Donovan Golich and director Erik Wessel on their constant abuse of power
              to punish students through the Office of Student
              Conflict Resolution!</strong
            >
          </p>

          {% for group in site.data.tweets.tweets %}
          <h3 style="margin-top: 4rem;">{{ group.category }}:</h3>
          <div
            id="tweetCarousel-{{group.category | slugify}}"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
            {% for tweet in group.content %}
              <div
                class="carousel-item {% if forloop.first %}active{% endif %}"
              >
                <div
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <p>{{ tweet }}</p>
                  <a
                    href="https://twitter.com/intent/tweet?text={{ tweet | url_encode }}"
                    class="tweet-button"
                    data-show-count="false"
                    >Post this on
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 32 32"
                      fill="none"
                    >
                      <path
                        d="M17.9686 14.1623L26.7065 4H24.6358L17.0488 12.8238L10.9891 4H4L13.1634 17.3432L4 28H6.07069L14.0827 18.6817L20.4822 28H27.4714L17.9681 14.1623H17.9686ZM15.1326 17.4607L14.2041 16.132L6.81679 5.55961H9.99723L15.9589 14.0919L16.8873 15.4206L24.6368 26.5113H21.4564L15.1326 17.4612V17.4607Z"
                        fill="white"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            {% endfor %}
            </div>
            <div
              class="d-flex justify-content-between align-items-center mb-3"
            >
              <button
                class="custom-carousel-control-prev"
                type="button"
                data-bs-target="#tweetCarousel-{{group.category | slugify}}"
                data-bs-slide="prev"
              >
                ‹ Previous
              </button>

              <button
                class="custom-carousel-control-next"
                type="button"
                data-bs-target="#tweetCarousel-{{group.category | slugify}}"
                data-bs-slide="next"
              >
                Next ›
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="supporters-tab-pane" role="tabpanel" aria-labelledby="supporters-tab" tabindex="0">
          <p>
            <strong
              >See the many organizations that condemn the actions of OSCR and stand with the pro-Palestine activists who are being wrongfully sanctioned.</strong
            >
          </p>

          <!-- UM American Association of University Professors -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#UMAAUP" role="button" aria-expanded="false" aria-controls="UMAAUP">
              UM American Association of University Professors <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="UMAAUP" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/umaaup.jpg" class="img-fluid border">
          </div>

          <!-- AFT American Association of University Professors -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#AFTAAUP" role="button" aria-expanded="false" aria-controls="AFTAAUP">
              AFT American Association of University Professors <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="AFTAAUP" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/aftaaup.jpg" class="img-fluid border">
          </div>

          <!-- Graduate Employees Organization -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#GEO" role="button" aria-expanded="false" aria-controls="GEO">
              Graduate Employees Organization <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="GEO" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/geo.jpg" class="img-fluid border">
          </div>

          <!-- Lecturers’ Employee Organization -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#LEO" role="button" aria-expanded="false" aria-controls="LEO">
              Lecturers’ Employee Organization <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="LEO" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/leo.jpg" class="img-fluid border">
          </div>

          <!-- Shalom Community Church -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#SCC" role="button" aria-expanded="false" aria-controls="SCC">
              Shalom Community Church <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="SCC" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/scc/scc01.jpg" class="img-fluid border">
            <img src="assets/solidstatements/scc/scc02.jpg" class="img-fluid border">
          </div>

          <!-- Engineers Against Apartheid -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#EAA" role="button" aria-expanded="false" aria-controls="EAA">
              Engineers Against Apartheid <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="EAA" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/eaa/eaa01.jpg" class="img-fluid border">
            <img src="assets/solidstatements/eaa/eaa02.jpg" class="img-fluid border">
          </div>

          <!-- Palestinian Youth Movement -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#PYM" role="button" aria-expanded="false" aria-controls="PYM">
              Palestinian Youth Movement <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="PYM" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/pym/pym01.jpg" class="img-fluid border">
            <img src="assets/solidstatements/pym/pym02.jpg" class="img-fluid border">
            <img src="assets/solidstatements/pym/pym03.jpg" class="img-fluid border">
          </div>

          <!-- U.S. Palestinian Community Network -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#USPCN" role="button" aria-expanded="false" aria-controls="USPCN">
              U.S. Palestinian Community Network <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="USPCN" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/uspcn/uspcn01.jpg" class="img-fluid border">
            <img src="assets/solidstatements/uspcn/uspcn02.jpg" class="img-fluid border">
            <img src="assets/solidstatements/uspcn/uspcn03.jpg" class="img-fluid border">
          </div>

          <!-- The People's Coalition -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#TPC" role="button" aria-expanded="false" aria-controls="TPC">
              The People's Coalition <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="TPC" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/tpc.jpeg" class="img-fluid border">
          </div>

          <!-- Workers Strike Back -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#WSB" role="button" aria-expanded="false" aria-controls="WSB">
              Workers Strike Back <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="WSB" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/wsb.jpg" class="img-fluid border">
          </div>

          <!-- No Detention Centers in Michigan -->
          <div class="d-grid gap-2 mx-auto" style="margin-bottom: 1rem;">
            <button class="d-flex justify-content-between align-items-center btn btn-primary btn-lg" data-bs-toggle="collapse" href="#NDCM" role="button" aria-expanded="false" aria-controls="NDCM">
              No Detention Centers in Michigan <span class="fs-2">▼</span>
            </button>
          </div>
          <div class="collapse multi-collapse" id="NDCM" style="margin-bottom: 1rem;">
            <img src="assets/solidstatements/ndcm.jpg" class="img-fluid border">
          </div>

        </div>
      </div>
    </div>
  </div>
</article>